.form_wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
}

.form_title{
    margin: 0;
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
}

.form_group{
    width: 100%;
}

.form_group label {
    width: 100%;
    /* display: block; */
    color: #37474F;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    width: fit-content;
    padding: 5px 10px 5px 0;
}

.form_group input {
    width: 100%;
    color: #37474F;
    font-size: 18px;
    background-color: #FFFFFF;
    line-height: 44px;
    border-radius: 8px;
    border: 1.5px solid #D4D4D7;
    padding: 0 10px;
    box-sizing: border-box;
}

.form_button{
    margin: 30px 24px 0 0;
}

.form_button button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    background-color: #FF9138;
    width: 162px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    box-shadow: 0 0 6px 0 #E7E9F2;
}

.form_button--cancel{
    color: #FF9138 !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid #FF9138 !important;
}
