.container {
  background-color: #fff;
  padding: 32px 48px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 96%;
  margin: 0 auto;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 600;
  color: #ff9138;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 60px;
  margin-bottom: 16px;
}

.column {
  flex: 1;
}

:global(.ant-form-item-label > label) {
  font-weight: 500;
  color: #282739;
  font-size: 15px;
}

:global(.ant-input),
:global(.ant-input-password),
:global(.ant-select-selector) {
  border-radius: 8px !important;
  height: 44px;
  font-size: 15px;
}

:global(.ant-input::placeholder),
:global(.ant-input-password input::placeholder) {
  color: #a9a9b0;
}

.requiredNote {
  color: #ff4747;
  font-style: italic;
  margin-top: 8px;
  font-size: 13px;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 24px;
}

.canel {
  background-color: #fff2e7;
  border-color: #ff9138;
  color:#ff9138;
}

.cancelBtn {
  background-color: #fff;
  border: 1px solid #ff9138;
  color: #ff9138;
}

/* :global(.ant-btn) {
  min-width: 120px;
  height: 44px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
}

:global(.ant-btn-primary) {
  background-color: #ff9138;
  border-color: #ff9138;
}

:global(.ant-btn-primary:hover),
:global(.ant-btn-primary:focus) {
  background-color: #e47f27;
  border-color: #e47f27;
} */
