.form_container{
    width: 100%;
    padding: 0px 24px;
}


.form{
    width: 100%;
}

.form_content{
    width: 100%;
    background-color: #fff;
    padding: 16px 24px;
    border-radius: 16px;
}

.form_item{
    flex: 50%;
}

.form_input {
    padding: 8px 12px;
    line-height: 27px;
    max-height: 44px;
}

.form_btn_wrapper{
    margin-top: 16px;
}

.form_btn {
    padding: 10px 24px;
    width: 170px !important;
    height: 48px;
    font-weight: 700;
    margin: 0px 10px;
}