.container {
    display: flex;
    background-color: #F6F6F6;
}

.left,
.right {
    height: 100vh;
}

.left {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    display: flex;
    width: 59%;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left .wrapper {
    margin-top: 10%;
    width: 68%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_container {
    width: 100%;
    margin-top: 75px;
}


.welcome {
    width: 71%;
}

.welcome img {
    width: 100%;

}